* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #001514, rgb(25, 133, 161, 1));
    text-align: center;
}
.home {
    position: absolute;
    right: 70vmin;
    top: 30vmin;
    height: 70vh;
    width: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h {
    font-size: 1.5rem;
    color: #fff;
    font-weight:800;
    box-shadow: 0 0 20px #26bf47;
}


#msg {
    color: #fff;
    font-size: 8vmin;
    font-weight: 900;
}

.start-btn {
    align-items: center;
    height: 2.5rem;
    width: 7rem;
    border-radius: 1rem;
    border-width: 4px;
    border-top-color: #edb673;
    border-left-color: #edb673;
    box-shadow: 0 0 20px #26bf47;
}

.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 20vmin;
    padding-right: 20vmin;
    box-shadow: 0 0 30px #bf26b7;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
}

.box {
    height: 14vmin;
    width: 14vmin;
    border-radius: 2vmin;
    border-width: 3px;
    border-top-color: #edb673;
    border-bottom-color: #edb679b;
    border-left-color: #edb673;
    border-right-color: #edb67;
    font-size: 5.5vmin;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px #26bf47;
}

.box:hover {
    background-color: #c9184a;
    transition: all 0.8s ease-in-out;
    transform: scale(1.1);
}

.reset {

    height: 2.5rem;
    width: 8rem;
    border-radius: 1rem;
    border-width: 4px;
    border-top-color: #edb673;
    border-left-color: #edb673;
    font-size: 2.8vmin;
    align-item:center;
    box-shadow: 0 0 10px #26bf47;
    margin-top: 1vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vmin;
    margin:5rem;
}

.hide {
    display: none;
}


#confetti{
    background: #000;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
  }
/* respnsive media query started*/
/* max width 600px*/
@media only screen and (max-width:600px) {
    .game {
        width: 70vmin;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 80px;
       margin-bottom: 50px;
    }
}
@media only screen and (max-width:600px) {
    .reset {
       font-size: 4.5vmin;
       font-weight: 480;
    }
}
@media only screen and (max-width:600px) {
    h {
        font-size: 3rem;
        font-weight: 800;
    }
}
/*min width 597px*/

@media only screen and (min-width:597px) {
    .game {
        padding-left: 11px;
        padding-right: 11px;
        margin-top: 80px;
       margin-bottom: 50px;
    
    }
}
@media only screen and (min-width:597px) {
    .reset {
        height: 4.5rem;
        width: 12.5rem;
        font-size: 4vmin;
       font-weight: 480;
    
    
    }
}
@media only screen and (min-width:597px) {
    .start-btn {
        height: 4.5rem;
        width: 12.5rem;
        font-size: 4vmin;
       font-weight: 450;
    }
}
@media only screen and (min-width:597px) {
    h {
        font-size: 8rem;
        font-weight: 800;
    }
}
/* 1980px*/
@media only screen and (max-width:1980px) {
    .game {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
       margin-bottom: 10px;
    
    }
}
@media only screen and (max-width:1980px) {
    h {
        font-size: 2rem;
        font-weight: 800;
    }
}
@media only screen and (max-width:1980px) {
    .reset {
        height: 2.7rem;
        width: 9rem;
        font-size: 3.4vmin;
       font-weight: 400;
    }
}
@media only screen and (max-width:1980px) {
    .start-btn {
        height: 2.7rem;
        width: 9rem;
        font-size: 3.4vmin;
       font-weight: 400;
    }
}
  
